*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

}
.nav-1{
    background-color: rgb(207, 205, 205);
}
.nav-1p{
    font-size: 12px;
    padding-left: 12px;
}
.navbar-1{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    }
    
    .nav-main{
        display: flex;
        align-items: center;
        justify-content: ;
    
    }
    #bar-icon{
        display: none;
        width: 7%;
        height: 50px;
        text-align: start;
        align-items: center;
    }
    
    .nav-itmes{
        font-size: 17px;
        border-right: 1px solid black;
        padding: 20px;
        margin: 0px;
    }
    .nav-itmes:hover{
        background-color:#ffd900 ;
    }
    
    .login-button{
        border: 1px solid black;
        padding: 20px;
        background-color: purple;
        color: #ffd900;
        border: none;
        margin: 0px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif ,bold;
        
    }
    .login-button:hover{
    
        background-color: #ffd900;
        color: black;
    }
    .img-1{
        height:80px;
        width: 200px;
        margin-left: 40px;
        background: transparent;
        border-right:1px solid black ;
    }
        .search-box {
            display: flex;
            align-items: center;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            color: #ccc;
            width: 180px;
            height: 40px;
            margin-left: 10px;
        }
         input{
            border: 1px solid transparent;
            width: 150px; 
            align-items: center;
        } 
        .carousel-img{
            height: 500px;
            width: 100%;
        }
        .card-img{
            z-index: 2;
            opacity: 0.4;
            height:200px ;
        }
        .card-img:hover{
            opacity: 0.9;
        }
        .card-1{
            width: 280px;
            margin-top: 30px; 
            border: 1px solid transparent;
            text-align: center;
        }
        .card-h3{
            font-size: 20px;
            color:purple ;
        }
        .main-card{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin: 10px;
            margin-bottom: 40px;
            justify-content: center;
        }

        .bank-wye{
            background-color: purple;
            color: white;
            text-align: center;
        }
        .bank-wye{
            padding-top: 40px;
            font-size: 21px;
            padding-bottom: 50px;
        }
         
       @media(max-width: 900px){

          .main-card{
            grid-template-columns: repeat(2,1fr);
            margin-bottom: 40px;
            text-align: center;
          }
       }  
       @media(max-width: 768px){

        .main-card{
          grid-template-columns: repeat(1,1fr);
          margin-bottom: 40px;
          justify-content: center;
          margin-left: 70px;
        }
     }  



        @media (max-width: 768px) {
            .nav-itmes{
                display: none;
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                text-align: center;
            }
            .login-button {
                display: none;
            }
            .search-box {
                display: none;
            }
            #bar-icon{
                display: block;
            }
        }